<%= repo_list = Repository.limit(10) %>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= user_path(id: 1) %>">Sabse Pucho</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle repo_dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Repository<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="repo_tag" data-id="0" href="#">All</a></li>
            <% repo_list.each do |repo| %>
            <li><a class="repo_tag" data-id="<%=repo.id%>" href="#"><%=repo.name%></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" id="search_term">
        </div>
        <button type="submit" class="btn btn-default" id="search_button">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Post a Question</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notifications<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
.navbar-brand {
  width: 300px;
  padding-left: 50px;
}
.navbar-form .form-control{
  width: 400px;
}
</style>

<script>
var repo_id = "0";
$('.repo_tag').click(function(){
  repo_id = $(this).data('id');
  var val = $('.repo_dropdown').html().split('<')[0];
  var html = $('.repo_dropdown').html().replace(val, $(this).html());
  $('.repo_dropdown').html(html);
});

$('#search_button').click(function(){
  var url = "/search_results?repo_id=" + repo_id + "&q=" + $('#search_term').val();
  window.open(url);
});
</script>