<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TechAssist</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li href="/" class="active"><a href="#" class="glyphicon glyphicon-home"></a></li>
        <li><a href="/notifications" class="glyphicon glyphicon-bell"></a></li>
        <li><a href="/settings" class="glyphicon glyphicon-wrench"></a></li> 
        <li><a href="/post_question" class="glyphicon glyphicon-question-sign"></a></li> 
      </ul>
    </div>
  </div>
</nav>